body {
  background-image:
    linear-gradient(rgba(5, 11, 8, 0.75), rgba(5, 11, 8, 0.9)),
    url("../images/projectsBackground.png");
}

.projects {
  max-width: 1000px;

  margin: 150px auto;

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  gap: 30px;
}

.card {
  display: flex;

  flex-direction: column;

  padding: 30px;

  min-height: 350px;

  background: rgba(13, 23, 18, 0.75);

  border: 1px solid var(--border);

  border-radius: 20px;

  backdrop-filter: blur(15px);

  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);

  border-color: var(--accent);
}

.card span {
  color: var(--accent);
}

.project-link {
  margin-top: auto;

  color: var(--accent);

  text-decoration: none;

  font-weight: bold;
}

.project-link:hover {
  color: var(--accent-hover);
}
